<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<!-- META -->
	<!-- ====================================================================== -->
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Aaron Barber">
	<title></title>	
	<!-- ====================================================================== -->

	<!-- CSS -->
	<!-- ====================================================================== -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
	<!-- ====================================================================== -->
</head>
<body>
	<!-- NAVBAR -->
	<!-- ====================================================================== -->	
	<nav class="navbar navbar-dark bg-primary nav-container">
		<a class="navbar-brand">Aaron Barber</a>
		<ul class="nav navbar-nav pull-md-right">
			<li class="nav-item">
				<a class="nav-link" href="/home">About Me<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/cv">Curriculm Vitae</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/portfolio">Portfolio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/passions">Passions</a>
			</li>
		</ul>
	</nav>
	<!-- ====================================================================== -->


	<!-- MAIN -->
	<!-- ====================================================================== -->
	<div class="main clearfix">
		{% block content %}{% endblock %}
	</div>
	<div class="clearer"></div>
	<!-- ====================================================================== -->



	<!-- FOOTER -->
	<!-- ====================================================================== -->
	<footer class="clearfix">
		<div class="icons-container">
			<ul>
				<li><a href="mailto:asbarber@umich.edu" target="_blank" class="icon alt fa-2x fa-envelope"><span>Email</span></a></li>
				<li><a href="https://github.com/asbarber" target="_blank" class="icon alt fa-2x fa-github"><span>GitHub</span></a></li>
				<li><a href="https://www.linkedin.com/in/asbarber" target="_blank" class="icon alt fa-2x fa-linkedin-square"><span>LinkedIn</span></a></li>
				<li><a href="https://www.facebook.com/aaron.barber.9615" target="_blank" class="icon alt fa-2x fa-facebook"><span>Facebook</span></a></li>
				<li><a href="https://www.youtube.com/channel/UCCMbOHPAb38rMd9Odw3ePCg" target="_blank" class="icon alt fa-2x fa-youtube"><span>YouTube</span></a></li>
			</ul>
		</div>

		<ul class="copyright">
			<li>&copy; Aaron Barber</li>
		</ul>
	</footer>
	<!-- ====================================================================== -->


	<!-- SCRIPTS -->
	<!-- ====================================================================== -->
	<script src="/static/js/jquery-2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script>
	$(document).ready(function() {
			$('a[href="' + this.location.pathname + '"]').parent().addClass('active');
	});
	</script>	
	<!-- ====================================================================== -->
</body>
</html>
