{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Software Engineering Intern</h2>
                <h4>Yahoo Mail<h4>
                <h6>May 2016 &mdash; August 2016<span>Sunnyvale, CA</span><h6>
            </header>
            <p>
				Worked with a software architect to design and implement a solution to remove mixed content warnings from Yahoo emails. I implemented an HTTPS proxy to securely deliver HTTP content, such as images.  The solution included an O(n) algorithm to parse the HTML in emails to replaced mixed content with the HTTPS proxy. I learned integration testing, performance monitoring, and remote debugging techniques.
            </p>
        </div>
        <div class="col-xs-6">
            <span class="image fit"><img src="/static/images/yahoo.jpg" alt="" /></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Instructional Aide for</h2>
                <h2>Artificial Intelligence (EECS 492)</h2>
                <h4>University of Michigan<h4>
                <h6>January 2016 &mdash; May 2016<span>Ann Arbor, MI</span><h6>
            </header>
            <p>
				Provided assistance on homework and programming assignments through weekly office hours. Managed student grades and the online student question and answer forum (Piazza).
            </p>
        </div>
        <div class="col-xs-6">
            <span class="image fit"><img src="/static/images/umich.jpg" alt="" /></span>
        </div>         
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Software Engineering Intern</h2>
                <h4>Soar Technology, Inc.<h4>
                <h6>October 2015 &mdash; December 2015<span>Ann Arbor, MI</span><h6>
            </header>
            <p>
            	Implemented a tool to synchronize data between a Java and Web application for scenario based quiz delivery software. Added functionality to convert between file formats and upload quizzes to a server.
            </p>
        </div>
        <div class="col-xs-6">
            <span class="image"><img src="/static/images/soartech.png" alt="" /></span>
        </div>         
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Solution Consulting Intern</h2>
                <h4>New World Systems<h4>
                <h6>May 2015 &mdash; August 2015<span>Troy, MI</span><h6>
            </header>
            <p>
				Worked with a team of interns to design a solution for police field investigations and implement the solution. The team overcame technical barriers and regularly discussed with product owners to revise the design during development. The team built essential development skills such as code revisions and the agile methodology along with technical skills such as AngularJS and Cordova.
            </p>
        </div>
        <div class="col-xs-6">
            <span class="image"><img src="/static/images/newworldsystems.png" alt="" /></span>
        </div>         
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <header class="major">            
                <h2>Controls and Computing Technical Aide for</h2>
                <h2>Facility of Rare Isotope Beams</h2>
                <h4>Michigan State University<h4>
                <h6>May 2014 &mdash; August 2014<span>East Lansing, MI</span><h6>
            </header>
            <p>
				Developed Java tools for physicists and controls engineers to convert between data types using JSON. Supported existing libraries from several universities to standardize metadata with scalars, arrays, and tables datatypes.
            </p>
        </div>
        <div class="col-xs-4">
            <span class="image fit"><img src="/static/images/msu.jpg" alt="" /></span>
        </div>         
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Pupil Accounting Technician</h2>
                <h4>Clarkston Community Schools<h4>
                <h6>May 2012 &mdash; August 2013<span>Clarkston, MI</span><h6>
            </header>
            <p>
				Worked with a team of interns to design a solution for police field investigations and implement the solution. The team overcame technical barriers and regularly discussed with product owners to revise the design during development. The team built essential development skills such as code revisions and the agile methodology along with technical skills such as AngularJS and Cordova.
            </p>
        </div>
        <div class="col-xs-6">
            <span class="image fit"><img src="/static/images/clarkston.png" alt="" /></span>
        </div>         
    </div>
</div>

{% endblock %}