{% extends "base.html" %}

{% block content %}

<div class="parallax">
    <div class="parallax-inner">
        <i class="fa fa-4x fa-cloud cloud" aria-hidden="true"></i>

        <h1>&mdash;<strong>Aaron</strong>&mdash;</h1>
        <p>University of Michigan Student</p>       
    </div>
</div>

<!-- One -->
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Yahoo Software Engineer</h2>
            </header>
            <p>Worked on an HTTPS proxy</p>
        </div>
        <div class="col-xs-6">
            <span class="image fit"><img src="/static/images/yahoo.jpg" alt="" /></span>
        </div>
    </div>
</div>

<!-- Two -->
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <header class="major">            
                <h2>Assisted Video Editor</h2>
            </header>
            <p>
                Created a simplified video editor.
            </p>
        </div>
        <div class="col-xs-6">
            <span class="image fit"><img src="/static/images/yahoo.jpg" alt="" /></span>
        </div>         
    </div>
</div>

{% endblock %}