{% extends "command_school/base.html" %}

{% block content %}

<div id="problem" class="header-container-tight">
    <header class="major">            
        <h1>Problem</h1>
    </header>
    <p>{{problem}} </p>
</div>

<div id="tests" class="header-container-tight">
    <header class="major">            
        <h1>Tests</h1>
    </header>
    <p>{{tests}}</p>
</div>

<div id="code" class="header-container-tight">
    <header class="major">            
        <h1>Editor</h1>
    </header>
	<div id="editor">{{starterCode}}</div>
</div>

<div id="submit" class="header-container-tight">
    <header class="major">            
        <h1>Submission</h1>
    </header>

	<button onclick="onSubmitCode()" id="submitCode" type="submit" class="btn btn-primary">Submit</button>
</div>

<div id="results" class="header-container-tight">
    <header class="major">            
        <h1>Results</h1>
    </header>

    <p id="codeResults"></p>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/apps/command_school/js/editor.js"></script>
{% endblock %}