{% extends "engr101/base.html" %}

{% block content %}

<div id="attendance" class="header-container">
    <header class="major">            
        <h1>Weekly Attendance Form</h1>
    </header>
		<h4><a target="_blank" href="{{url}}" class="fa fa-check-square-o"> Click Here</a></h4>
</div>

<div id="resources" class="header-container-tight">
    <header class="major">            
        <h1>Course Links</h1>
    </header>
</div>

<div class="container-tight">
    <div class="row">
	<ol>
		<li><a target="_blank" href="https://drive.google.com/drive/u/0/folders/0BxEw8bWgPlBEVlFYeXdVNnV0R1U">Google Drive - Labs</a></li>
		<li><a target="_blank" href="https://drive.google.com/drive/u/0/folders/0BxkxS8ya9rTNSDFIelk3TWVGLTA">Google Drive - Aaron's Lab Slides</a></li>
		<li><a target="_blank" href="https://drive.google.com/drive/u/0/folders/0BxEw8bWgPlBEOXRVMlRqcklVZk0">Google Drive - All</a></li>
		<li><a target="_blank" href="https://umich.instructure.com/courses/107069/assignments">Canvas</a></li>
		<li><a target="_blank" href="https://umich.instructure.com/courses/107069/external_tools/4435">Calendar</a></li>
		<li><a target="_blank" href="https://piazza.com/class/isemq8goh8g7cn">Piazza</a></li>		
	</ol>
	</div>
</div>

{% endblock %}