{% extends "engr101/base.html" %}

{% block content %}

<div id="links" class="header-container">
    <header class="major">            
        <h1>Final Exam Resource Links</h1>
    </header>
		<h4><a target="_blank" href="https://drive.google.com/open?id=1LNL2ILi6amUty8FP1_haEXyTXAyW7fdnE7e7DG8DDxc" class="fa fa-check-square-o"> Review Slides (Condensed)</a></h4>
		<h4><a target="_blank" href="https://drive.google.com/open?id=1rGYLgYYKtQf4UQUbFRM24fJ-htP-VjZaqr31d0t-_Ds" class="fa fa-check-square-o"> Review Slides (Full)</a></h4>
		<h4><a target="_blank" href="https://docs.google.com/presentation/d/192PuYmmveM12Mo1cFkl8VcT063m4vKFpL80H25slMrc" class="fa fa-check-square-o"> Review Practice Problems (No Solutions)</a></h4>
		<h4><a target="_blank" href="https://docs.google.com/document/d/1beOt0sLLBDBsnWmM8GngpAQtEjXo1OV7HpTgWvgmNWM" class="fa fa-check-square-o"> Sample Practice Problems (With Solutions)</a></h4>
</div>

{% endblock %}