{% extends "engr101/base.html" %}

{% block content %}

<div id="attendance" class="header-container">
    <header class="major">            
        <h1>Resource Links</h1>
    </header>
		<h4><a target="_blank" href="https://drive.google.com/open?id=1uKcuVEM043fhsc6d6Aj97jxkQd-W0mudRMOA6dxwlIc" class="fa fa-check-square-o"> Review Slides (Condensed)</a></h4>
		<h4><a target="_blank" href="https://drive.google.com/open?id=1kS54iaaFhEdVN_Y1llfHM0fiJaatUiNurOtNo-8hFWU" class="fa fa-check-square-o"> Review Slides (Full)</a></h4>
</div>

{% endblock %}